{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Profil{% endblock %}

{# contenu de la page profil #}
{% block body %}

<div class="container">
    <div class="row gutters-sm mt-5">

        <!-- Profil -> avatar, pseudo et role  -->
        <div class="col-md-4 mb-3">
            <div class="card" style="height: 280px;">
                <div class="card-body bg-dark text-white">
                    <div class="d-flex flex-column align-items-center text-center">

                        {% if app.user.avatar is null %}
                        <img class="img-thumbnail img-fluid"
                            src="{{ asset('images/profil_default.jpg')|imagine_filter('avatar') }}" alt="avatar">
                        {% else %}
                        <img class="img-thumbnail img-fluid"
                            src="{{ asset('images/usersAvatar/' ~ app.user.avatar)|imagine_filter('avatar') }}"
                            alt="avatar">
                        {% endif %}

                        <div class="mt-2">
                            <h6 class="mb-0">Roles : <span class="text-info">{{ is_granted('ROLE_ADMIN') ?
                                    'Administrateur' : 'Membre' }}</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- détail du profil -> pseudo, date d'inscription, role et nombre de messages + bouton edit  -->
        <div class="col-md-8">
            <div class="card mb-3" style="height: 280px;">
                <div class="card-body bg-dark text-white">
                    <div class="row">
                        <div>
                            <h5 class="mb-0">Pseudo : {{ app.user.pseudonym }}</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div>
                            <h5 class="mb-0">Date d'inscription : {{ app.user.registrationDate|date("d/m/Y à H\\hi") }}</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div>
                            <h5 class="mb-0">Email : {{ app.user.email }} </h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 text-center pt-3">
                            <a class="btn btn-secondary bg-lightblue" href=" {{ path('edit_profil') }} ">Editer le profil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-2">
        <div class="card bg-dark">
            <div class="card-body bg-dark text-white">
                <div>
                    <div class="col-12">
                        <h4 class="mb-0 text-center">Description :</h4>
                    </div>
                    {% if app.user.description is null %}
                        <div class="mt-1 text-secondary text-center">
                            <p>Aucune description</p>
                        </div>
                    {% else %}
                        <div class="mt-1 text-center">
                            {{ app.user.description }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {# Affiche le nombre message#}
    <div class="row">
        <p class="col-12 text-center mt-4">Nombre total de message : 5 </p>
    </div>


    <h1>Messages postés :</h1>

    <div class="row mt-2">

        <!-- Derniers message postés -->
        {% for comment in comments %}
        <div class="col-12 mt-3">
            <div class="row">

                <div class="row topic-forum bg-dark border border-dark border-3 p-0 g-0
                            d-flex flex-column flex-lg-row">

                    <!-- Profil de l'utilisateur (pseudo, rôle, photo de profil si il y'en as une, date d'inscription, nombre de messages) (bonne chance pour le
                    responsive) -->
                    <div class=" col-12 col-lg-3 col-xl-2 d-flex ">
                        <div class="col-12 d-flex bg-dark">

                            <!-- détails profil-->
                            <div class="card-profil-topic card rounded bg-dark text-white p-lg-3 d-flex flex-grow-1 d-flex flex-row flex-lg-column">
                                <a href="{{ path('main_profil') }}">{% if app.user.avatar is null %}
                                    <img class="img-thumbnail img-fluid bg-darkblue rounded mb-3 mb-lg-5 offset-2 col-8 mt-2 offset-lg-1 col-lg-10 mt-0 p-3"
                                        src="{{ asset('images/profil_default.jpg')|imagine_filter('avatar') }}" alt="avatar">
                                    {% else %}
                                    <img class="img-thumbnail img-fluid bg-darkblue rounded mb-3 mb-lg-5 offset-2 col-8 mt-2 offset-lg-1 col-lg-10 mt-0 p-3"
                                        src="{{ asset('images/usersAvatar/' ~ app.user.avatar)|imagine_filter('avatar') }}"
                                        alt="avatar">
                                    {% endif %}

                                <div class="mb-0 fs-6 card-title text-center">
                                    <a><h6 class="mb-0 p-1 ">Pseudo : {{ app.user.pseudonym }}</h6></a>
                                    <h6 class="mb-0 p-1 ">Statut : {{ is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Membre' }} </h6>
                                </div>
                                <hr>
                                <div class="card-body d-none d-lg-block">
                                    <div class="card-text">
                                        <h6 class="mb-3">Date d'inscription: {{ comment.publicationDate|date("d/m/Y à H\\hi") }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  content col-10 -->
                    <div class="col-12 col-lg-9 col-xl-10 bg-light
                                d-flex flex-column">
                        <div class="d-flex  flex-grow-1 p-5">
                            {# TODO mettre le titre de l'article commenté #}
                            <p>{{ comment.content }}</p>
                        </div>

                        <hr>

                        {# Si l'utilisateur est admin, on affiche le bouton supprimer #}
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="d-flex justify-content-end me-2">
                            <div class="p-2 "><a class="btn btn-secondary btn-sm bg-lightblue" href="#">Editer le
                                    contenu</a></div>
                            <div class="p-2 "><a class="btn btn-secondary btn-sm bg-lightblue" href="#">Supprimer le
                                    message</a></div>
                        </div>
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>

        {% else %}

        <p class="col-12 text-center alert alert-warning">Aucune publication à afficher.</p>

        {% endfor %}
    </div>
</div>

{% endblock %}