{% extends 'base.html.twig' %}

{% block title %} Forum {% endblock %}

{% block body %}

    {# Fil d'Ariane #}
    <div class="row my-5">
        <div class="col-12 text-center bg-warning">
            <h3>Fil d'ariane ?</h3>
        </div>
    </div>



    {# Titre de la discussion + autheur + date #}
    <div id="top-forum-selected" class="row">
        <div class="col-6 offset-3 text-center">
            <h2>{{ forum.title }}</h2>
            <div class="d-flex flex-column flex-lg-row justify-content-center">
                <p class="text-secondary px-3"><span><i class="fas fa-user px-1"></i></span>
                    <a href="#">{{ forum.author.pseudonym }} </a>
                </p>
                <p class="text-secondary"><span><i class="far fa-clock px-1"></i></span>{{ forum.publicationDate|date("d/m/Y à H\\hi") }}
                </p>
            </div>
        </div>
    </div>

    {# Topic #}
    <div class="row mt-5">

        {# Affiche le nombre message + pagination #}
        <div class="row">
            <p class="col-12 text-center">Nombre total de message : {{ forum.comments|length }}</p>
        </div>
        {% if comments is not empty %}
            <div class="row">
                <div class="me-auto m-3 text-center d-flex justify-content-end ">
                    {{ knp_pagination_render(comments) }}
                </div>
            </div>
        {% endif %}

        <div class="col-12">
            <div class="row">
                <div class="bg-darkblue m-0 d-flex flex-column flex-lg-row">
                    <p class="px-3 py-2">
                        <a href="#">{{ forum.subcategory.category.title }}</a> > {# {{ path('category', { slug: forum.subCategory.category.slug }) }} #}

                        <a href="{{ path('category_sub_category', { slug: forum.subCategory.slug }) }}">{{ forum.subCategory.title }}</a> {# todo si ko vérifier la route dans forumcontroller et vérfier les variables en paramétre - subCategory doit etre présente mais category #}
                        >

                        <a href="#top-forum-selected">{{ forum.title }}</a>
                    </p>
                </div>

                <div class="row topic-forum bg-dark border border-dark border-3 p-0 g-0
                            d-flex flex-column flex-lg-row">

                    {# Profil de l'utilisateur (pseudo, rôle, photo de profil si il y'en as une, date d'inscription, nombre de messages)#}
                    <div class=" col-12 col-lg-3 col-xl-2 d-flex ">
                        <div class="col-12 d-flex bg-dark">


                            {# détails profil #}
                            <div class="card-profil-topic card rounded bg-dark text-white p-lg-3
                            d-flex flex-grow-1     d-flex flex-row flex-lg-column">
                                <a href="#"><img src="https://image.flaticon.com/icons/png/128/3237/3237472.png" alt="avatar user" class="bg-darkblue rounded mb-3 mb-lg-5
                                offset-2 col-8 mt-2     offset-lg-1 col-lg-10 mt-0 p-3"></a>

                                <div class="mb-0 fs-6 card-title text-center">
                                    <a href="{{ path('main_profil', { id : forum.author }) }}"><h6 class="mb-0 p-1 ">{{ forum.author.pseudonym }}</h6></a>{# todo: renomer les roles #}
                                    <h6 class="mb-0 p-1 ">Statut : {{ forum.author.roles[0]|renameRole }} </h6>
                                    {# todo: renomer les roles #}
                                </div>
                                <hr>
                                <div class="card-body d-none d-lg-block">
                                    <div class="card-text">
                                        <h6 class="mb-3">Date d'inscription
                                            : {{ forum.author.registrationDate|date("d/m/Y") }}</h6>
                                    </div>
                                    <div class="card-text">
                                        <h6 class="mb-0">Messages : {{ forum.author.comments|length }}</h6>
                                    </div>


                                </div> {# fin card-body #}

                            </div> {# fin card #}


                        </div>

                    </div> {# fin col-2 profil #}

                    {# content col-10 #}
                    <div class="col-12 col-lg-9 col-xl-10 bg-light
                                d-flex flex-column">
                        <div class="d-flex  flex-grow-1 p-5">
                            {# utilisation du filtre purify du bundle exercise/htmlpurifier pour nettoyer le contenu html #}
                            <p>{{ forum.content|purify }}</p>
                        </div>

                        <hr>
                        {% if forum.author == app.user or is_granted('ROLE_MODERATOR') %}
                            <div class="d-flex justify-content-end me-2">

                                <div class="p-2 ">
                                    <a class=" btn btn-darkblue " href="#">Editer le contenu</a>
                                </div>
                                {% if is_granted('ROLE_MODERATOR') %}
                                    <div class="p-2 ">
                                        <a class=" btn btn-darkblue " href="#">Supprimer le message</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>{# fin col-10 contenu #}

                </div>
            </div>
        </div>
    </div>


    {# Réponses au topic #}
    <div class="row mt-5">
        {# Liste des commentaires liés au topic #}
        <h2 class="text-center mb-5">Commentaires </h2>


        {% for comment in comments %}

            <div class="col-12">
                <div class="row">
                    <div class="bg-darkblue m-0 d-flex flex-column flex-lg-row">
                        <p class="px-3 py-2">Date de publication: {{ comment.publicationDate|date("d/m/Y à H\\hi") }}</p>
                        <p class="px-3 py-2">
                            <a href="#">{ { category.title } }</a> >
                            <a href="#">{ { subCategory.title } }</a> >
                            <a href="#top-forum-selected">{{ forum.title }}</a>
                        </p>
                    </div>

                    <div class="row topic-forum bg-dark border border-dark border-3 p-0 g-0
                            d-flex flex-column flex-lg-row">

                        {# Profil de l'utilisateur (pseudo, rôle, photo de profil si il y'en as une, date d'inscription, nombre de messages) #}
                        <div class=" col-12 col-lg-3 col-xl-2 d-flex ">
                            <div class="col-12 d-flex bg-dark">


                                {# détails profil #}
                                <div class="card-profil-topic card rounded bg-dark text-white p-lg-3
                                d-flex flex-grow-1     d-flex flex-row flex-lg-column">
                                    <a href="#"><img src="https://image.flaticon.com/icons/png/128/3237/3237472.png"
                                                     alt="avatar user" class="bg-darkblue rounded mb-3 mb-lg-5
                                        offset-2 col-8 mt-2     offset-lg-1 col-lg-10 mt-0 p-3"></a>

                                    <div class="mb-0 fs-6 card-title text-center">
                                        <a href="#"><h6 class="mb-0 p-1 ">{{ comment.author.pseudonym }}</h6>
                                        </a>
                                        <h6 class="mb-0 p-1 ">Statut : {{ comment.author.roles[0] }} </h6>
                                        {# todo: renomer les roles #}
                                    </div>
                                    <hr>
                                    <div class="card-body d-none d-lg-block">
                                        <div class="card-text">
                                            <h6 class="mb-3">Date d'inscription : {{ comment.author.registrationDate|date("d/m/Y") }}</h6>
                                        </div>
                                        <div class="card-text">
                                            <h6 class="mb-0">Messages : {{ comment.author.comments|length }}</h6>
                                        </div>
                                    </div><!-- fin card-body-->

                                </div><!-- fin card-->

                            </div>

                        </div><!-- fin col-2 profil-->

                        <!--  content col-10 -->
                        <div class="col-12 col-lg-9 col-xl-10 bg-light
                                d-flex flex-column">
                            <div class="d-flex  flex-grow-1 p-5">
                                <p>{{ comment.content|purify }}</p>
                            </div>

                            <hr>
                            {# Si l'utilisateur au moins moderateur, on affiche le bouton supprimer #}
                            {% if comment.author == app.user or is_granted('ROLE_MODERATOR') %}
                                <div class="d-flex justify-content-end me-2">

                                    <div class="p-2 ">
                                        <a class=" btn btn-darkblue " href="#">Editer le contenu</a>
                                    </div>
                                    {% if is_granted('ROLE_MODERATOR') %}
                                        <div class="p-2 ">
                                            <a class=" btn btn-darkblue " href="#">Supprimer le message</a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        {# fin col-10 contenu #}

                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-center">Aucun commentaire n'a été publié pour le moment.</p>
        {% endfor %}

        {# pagination bottom #}
        <div class="row">
            <div class="me-auto m-3 text-center d-flex justify-content-end ">
                {{ knp_pagination_render(comments) }}
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_USER') %}
        {# formulaire #}
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 mt-5 bg-blue p-5">
                {{ form(form) }}
            </div>
        </div>
         {# fin contener fluid #}
    {% endif %}
{% endblock %}
